* {
  box-sizing: border-box;
}

html {
  font-family: 'Catamaran', sans-serif;
  scroll-behavior: smooth;
}

.color {
  color: #323232;
  color: #f8c512;
  color: #fff;
}

strong {
  font-weight: bold;
  color:black;
}